<!DOCTYPE html>
<html lang="en-gb">

	<head>
        <meta charset="utf-8">
		<title>{title}</title>
		<link rel="stylesheet" type="text/css" href="css/core.css">
	</head>

	<body>
		{call test here is some content}
	</body>
	
</html>
