
/* Layout */
.ui-container {
	--header-height: 32px;
	--footer-height: 24px;
	--toolbar-height: 32px;
	--breadcrumb-height: 32px;
	--panel-header: 24px;
	--panel-footer: 24px;
	--padding: 6px;
	--left-panel: 260px;
	--right-panel: 300px;	
	/* probably should do autosizing in a different way, but working as a quick and dirty approach */
	--header-footer: calc( var( --header-height ) + var( --footer-height ) );
	--main-panel: calc( 100vh - calc( var(--header-footer) + calc( var( --toolbar-height ) + var( --breadcrumb-height ) ) ));
	--panel-list: calc( calc( calc( 100vh - var(--header-footer) ) / 2 ) - var(--panel-header) );
	--panel-list-with-footer: calc( calc( calc( 100vh - var(--header-footer) ) / 2 ) - var(--panel-header) - var(--panel-footer) );
	--panel-list-no-header:  calc( calc( 100vh - var(--header-footer) ) / 2 );

	--main-width: calc( 100vw - var(--left-panel) - var(--right-panel) );
	
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;

	font-size: 12px;
	
}

.wxfh .ui-container {
	--header-footer: 0;
	--main-panel: calc( 100vh - calc( var( --toolbar-height ) + var( --breadcrumb-height ) ) );
	--main-width: calc( 100vw - var(--right-panel) );
	--panel-list: calc( calc( 100vh / 2 ) - var(--panel-header) );
	--panel-list-with-footer: calc( calc( 100vh / 2 ) - var(--panel-header) - var(--panel-footer) );
	--panel-list-no-header:  calc( 100vh / 2 );

}


.wxfh .menu-bar,
.wxfh .status-bar,
.wxfh .left-panel
{
	display: none;
}

.wxfh #main-panel {
	padding: 0;
	overscroll-behavior: none;

}


.wxfh .main-panel table tr.header {
	top: 0;
}

.ui-container div {

}

.menu-bar {
	height: var(--header-height);
	display: flex;
	background-color: #fff;
	box-shadow: var(--shadow);
	z-index: 2;
	align-items: center;
	padding: 0 calc( var(--padding) * 2 );
	gap: calc( var(--padding) * 2 );
	font-size: 14px;
}

.menu-bar div.title {
	font-weight: bold;
}

.menu-bar img.logo {
	height: 24px;
}



.status-bar {
	z-index: 2;
	height: var(--footer-height);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-weight: bold;
	padding-right: 12px;
	box-shadow: var(--shadow);
	background-color: #fff;
}

.main-layout {
	flex: 1;
	display: flex;
	width: 100%;
}

.left-panel {
	z-index: 1;
	width: var(--left-panel);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	box-shadow: var(--shadow);
}

.left-top {
	flex: 1;
	border-bottom: 1px solid var(--outline);
}

.left-bottom {
	flex: 1;
}

.primary-panel {
	z-index: 0;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.right-panel {
	z-index: 1;
	width: var(--right-panel);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	box-shadow: var(--shadow);
}

.right-top {
	flex: 1;
	border-bottom: 1px solid var(--outline);
}

.right-bottom {
	flex: 1;
}

.tool-bar {
	height: var(--toolbar-height);
	border-bottom: 1px solid var(--outline);
	background-color: var(--shade);
	display: flex;
	align-items: center;
	padding: 0 var(--padding);
	gap: var(--padding);
}

.tool-bar img {
	height: 18px;
}

.breadcrumb-container {
	height: var(--breadcrumb-height);
	width: var(--main-width);
	overflow-x: auto;
	overflow-y: hidden;
	background-color: var(--panel);
}

.breadcrumb {
	height: var(--breadcrumb-height);
	display: flex;
	align-items: center;
	padding: 0 var(--padding);
	gap: 6px;
}

.breadcrumb .item {
	white-space: nowrap;
	font-size: 80%;
	background-color: var(--select);
	color: #fff;
	border-radius: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 8px;
	transition: background-color .2s ease-in-out, color .2s ease-in-out;
	cursor: default;
}

.breadcrumb .results {
	font-weight: bold;
	color: #fff;
}

.breadcrumb .item:hover {
	background-color: var(--highlight);
	color: #000;
}

.main-panel {
	flex: 1;
}

#main-panel {
	/* max-height: calc(100vh - 244px); */
	height: var(--main-panel);
	width: var(--main-width);
	max-height: var(--main-panel);
	max-width: var(--main-width);
	padding: var(--padding);
	/* padding: var(--padding); */
	overflow-y: auto;
	overflow-x: auto;
}



.activity-panel {
	overflow-y: auto;
	overflow-x: hidden;
	height: var(--panel-list-no-header);
	background-color: rgba(0, 0, 0, .2);
}

#activity-panel {
	display: flex;
	flex-direction: column;
	margin: var(--padding);
	gap: var(--padding);
}

.activity-panel .item {
	border: 1px solid #bbd;
	font-size: 80%;
	background-color: #fff;
	border-radius: 4px;
	padding: var(--padding);

	display: flex; flex-direction: column; gap: 6px;	
}

.activity-panel .item .header {
	display: flex; justify-content: space-between; align-items: center;
}

.activity-panel .item .header .description {
	font-weight: bold;
}

.activity-panel .item .header .status {
	font-weight: bold; color: var(--ok);
}

.activity-panel .item .info {
	display: flex; flex-direction: column; gap: 6px;
}

.activity-panel .item .detail {
	color: #888;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.activity-panel .item .stats {
	display: flex; gap: var(--padding); justify-content: flex-end;
}


#action-list .action-item>* {
	margin-bottom: .3em;
}

.list-panel {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.list-panel .panel-header {
	font-weight: bold;
	height: var(--panel-header);
	display: flex;
	align-items: center;
	padding-left: var(--padding);
	background-color: var(--panel);
	color: #fff;
}

.list-panel .panel-list-with-footer,
.list-panel .panel-list {
	flex: 1;
}

.list-panel .panel-footer {
	display: flex;
	align-items: center;
	border-top: 1px solid var(--outline);
	height: var(--panel-footer);
	padding: 0 var(--padding);
	background-color: var(--shade);
	gap: var(--padding);
	justify-content: flex-end;
}

.list-panel .panel-footer img {
	height: 18px;
}

img.icon {
	/* filter: invert(1) brightness(50%) sepia(100%) saturate(10000%) hue-rotate(130deg); */
}

.panel-list-with-footer {
	padding: var(--padding);
	max-height: var(--panel-list-with-footer);
	overflow: auto;
}

.panel-list {
	padding: var(--padding);
	max-height: var(--panel-list);
	overflow: auto;
}

.list-item {
	padding: 2px var(--padding);
	display: flex;
	gap: var(--padding);
	align-items: center;

	border-radius: 3px;
	transition: background-color .2s ease-in-out, color .2s ease-in-out;
	cursor: default;
}

.list-item .label {
	flex: 1;
}

.list-item.selected {
	background-color: var(--select);
	color: #fff;
}

.list-item.selected img.icon {
	filter: invert(1);
}

.list-item:not(.selected):hover {
	background-color: var(--highlight);
	color: #fff;
}

.list-item img {
	height: 18px;
	transition: filter .2s ease-in-out;
}

.list-item:not(.selected):hover img.icon {
	filter: invert(1);
	/* filter: invert(1) brightness(50%) sepia(100%) saturate(10000%) hue-rotate(130deg); */
}

#search {
	display: flex;
	gap: var(--padding);
}

.main-panel table {
	border-collapse: collapse;
	min-width: 100%;
}

.main-panel table tr.header {
	position: sticky;
	top: -6px;
	left: -6px;
	padding: var(--padding);
	background-color: var(--panel);
	color: #fff;
	box-shadow: var(--shadow);
}

.main-panel table tr:nth-child(even) {
    background-color: var(--shade);
}

.main-panel table td {
	padding: 3px;
}

.main-panel table th {
	text-align: left;
}

.main-panel table tr {
	border-radius: 3px;
	transition: background-color .2s ease-in-out, color .2s ease-in-out;
	cursor: default;
}

.main-panel table tr.selected {
	background-color: var(--select);
	color: #fff;
}

.main-panel table tr:not(.selected):hover {
	background-color: var(--highlight);
	color: #fff;
}

.spacer {
	flex: 1;
}

.online, .offline, .busy {
	font-size: 80%;
	color: #fff;
	border-radius: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 8px;
}

.online {
	background-color: var(--ok);
}

.offline {
	background-color: var(--error);
}

.busy {
	background-color: var(--amber);
}

.info-item {
	padding: 2px var(--padding);
	display: flex;
	gap: var(--padding);
	align-items: center;
	margin-bottom: .5em;
}

.info-item .label {
	font-weight: bold;
	width: 60px;
	min-width: 60px;
}

#action-list {
	height: var(--panel-list-no-header);
	background-color: var(--dark-bg);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: calc(var(--padding) * 2);
}

#action-list .action-item {
	margin: 0 calc( var(--padding) * 2 );
	padding: var(--padding);
	background-color: var(--amber);
	border-radius: 4px;
	color: #fff;
}

#action-list .action-item.ok {
	background-color: var(--ok);
}

#action-list .action-item.error {
	background-color: var(--error);
}

#action-list .action-item>* {
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: .3em;
}

#action-list .action-item:first-child {
	margin-top: calc( var(--padding) * 2 );
}

#action-list .action-item:last-child {
	margin-bottom: calc( var(--padding) * 2 );
	outline: 1px solid #fff;
}

#action-list .action-item .buttons {
	display: flex;
	justify-content: space-between;
	gap: var(--padding);
	margin: 8px 0 0 0;
}

#action-list .action-item .btn {
	font-size: 80%;
	color: #000;
	background-color: #fff;
	border-radius: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 8px;
	cursor: default;
	transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

#action-list .action-item .btn:hover {
	color: #fff;
	background-color: var(--ok);
}

#action-list .action-item .btn.ok {
	color: #fff;
	background-color: var(--ok);
}

#action-list .action-item .btn.error {
	color: #fff;
	background-color: var(--error);
}





*[data-action="openfolder"] {
	opacity: .2;
}

*[data-action="openfolder"].enabled {
	opacity: 1;
}

*[data-action="findhash"] {
	opacity: .2;
}

*[data-action="findhash"].enabled {
	opacity: 1;
}

*[data-action="flag"] {
	opacity: .2;
}

*[data-action="flag"].enabled {
	opacity: 1;
}


*[data-action="rescan"] {
	opacity: .2;
}

*[data-action="rescan"].enabled {
	opacity: 1;
}


*[data-action="addstorage"] {
	opacity: .2;
}

*[data-action="addstorage"].enabled {
	opacity: 1;
}
