<!-- Storage roots -->
<div class="list-panel storage-roots">
	
	<div class="panel-header">
		Storage
	</div>
	
	<div class="panel-list-with-footer" id="storage-root-list">

	</div>
	
	<div class="panel-footer">
		<img data-action="rescan" src="img/ionicons/sync.svg" title="Re-scan storage" />
		<img data-action="addstorage" src="img/feather/plus.svg" title="Add new storage" />
	</div>
	
</div> <!-- end: Storage roots -->

